@import '../../colours';

.Header {
	height: 100px;
	width: 90%;
	margin: 0 5%;
	border-bottom: solid 2px white;
	background-color: $background;
	position: absolute;
	top: 0;

	img {
		margin: 10px;
		height: 80px;
		user-select: none;
	}

	.pages {
		$fontSize: 24px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: inherit;
		width: calc(80% - 5px);
		left: 20%;
		top: calc(50% - #{$fontSize / 2});

		a {
			font-size: $fontSize;
			color: black;
			text-decoration: none;
		}
	}
}